<div class="item">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <a href="<%= item.link %>" class="item-name"><%= item.name %></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="item-price">Price: <%= item.price %></div>
        <div class="item-shop">Shop: <%= item.shop_name %>
      </div>
    </div>
    <div class="col-md-6">
        <img src="<%= item.pic_link %>" alt="<%= item.name %>" width="180" height="180">
      </div>
    </div>
  <hr>
  </div>
</div>